<div class="row">
  <div class="h1 mx-auto display-2 text-center text-white">{{ _('Browse Privately.') }}</div>
  <div class="h1 mx-auto display-2 text-center text-white">{{ _('Explore Freely.') }}</div>
</div>
<div class="row">
  <div class="h3 mx-auto p-3 text-center text-white">{{ _('Defend yourself against tracking and surveillance. Circumvent censorship.') }}</div>
</div>
<div class="row col-12 p-5 mx-auto justify-content-center">
  {% set download = site.get('/download') %}
  <a class="btn btn-lg btn-outline-light" href="{{ this.url_to(download, alt=this.alt) }}">
    {{ _("Download Tor Browser") }}<i class="ml-2 pt-1 fas fa-arrow-down-png"></i>
  </a>
</div>

